@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
<style>
#paragraf {
    color: blue;
}
</style>
</head>

<body>
    <h1 style="color:red">Hello world</h1>
    <p id="paragraf">Ovo je plavi paragraf sa stylom iz heada</p>

</body>
</html>
