@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
<style>
body {
    background-color: aqua;
    text-align: center;
}
p {
    color: black;
}
.velikitext{
    font-size: large;
}
</style>
</head>

<body>
    <p class="velikitext">Ovo je kustomizirani view</p>
    <p class="velikitext">Svaki paragraf ovog view-a ima black boju texta</p>
    <p class="velikitext">Pozadina ove stranice je određena preko selektora body u style dijelu head-a stranice</p>
</body>
</html>